{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-11 col-lg-11">
                    <h4 class="card-title">{% if object %}Actualizar producto{% else %}Crear producto
                    {% endif %}</h4>
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row">

                                    <div class="col-md-6 mb-3">
                                        {{ form.codigo_producto.label_tag }}
                                        {{ form.codigo_producto }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.nombre_comercial.label_tag }}
                                        {{ form.nombre_comercial }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        {{ form.ficha_tecnica_folio.label_tag }}
                                        {{ form.ficha_tecnica_folio }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.almacen.label_tag }}
                                        {{ form.almacen }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.cantidad_alm.label_tag }}
                                        {{ form.cantidad_alm }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.ficha_costo.label_tag }}
                                        {{ form.ficha_costo }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        {{ form.product_final.label_tag }}
                                        {{ form.product_final }}
                                    </div>
                                </div>


                                <br>
                                <div class="form-group" style="text-align: center;">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <a href="{% url 'producto_list' %}" class="btn btn-danger">Cancelar</a>
                                    {% if not object %}
                                        <a href="{% url 'importarProducto' %}" class="btn btn-success">
                                            Importar excel
                                        </a>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}