{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de productos base</h4>

                </div>
                {#                <h1></h1>#}
                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr class="ligth">
                            <th>Nombre Comercial</th>
                            <th>Código Producto</th>
                            <th>Cantidad en Almacén</th>
                            <th>Ficha Técnica</th>
                            <th>Ficha de Costo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for producto in object_list %}
                            <tr>
                                <td>{{ producto.nombre_comercial }}</td>
                                <td>{{ producto.codigo_producto }}</td>
                                <td>{{ producto.cantidad_almacen }}</td>
                                <td>{{ producto.ficha_tecnica_folio }}</td>
                                <td>{{ producto.ficha_costo }}</td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">

                                        <a href="{% url 'actualizar_producto_base' producto.id %}" title=" Editar producto
                                       base" class="btn far fa-edit"></a>
{#                                        <a href="{% url 'eliminar_producto_base' producto.id %}" title="Eliminar producto#}
{#                                       base" class="btn far fa-trash-alt" style="color: #ed1010;"></a>#}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>

                            <th>Nombre Comercial</th>
                            <th>Código Producto</th>
                            <th>Cantidad en Almacén</th>
                            <th>Ficha Técnica</th>
                            <th>Ficha de Costo</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>

                    <a href="{% url 'crear_producto_base' %}" class="btn btn-success">Crear producto base</a>


                </div>

            </div>

        </div>

    </div>
{% endblock %}