{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">
                            <i class="fas fa-clipboard-list me-2"></i>
                            Registro de Adquisición - Paso 
                        </h3>
                    </div>

                    <div class="card-body">
                        <form method="post">
                        {% csrf_token %}
                            <table>
                                {{ wizard.management_form }}
                                {{ wizard.form.as_table }}
                            </table>
                            {% if wizard.steps.prev %}
                                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Atrás</button>
                            {% endif %}
                            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">Siguiente</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#id_0-fecha_compra').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                sideBySide: true,
                locale: 'es'
            });
        });
    </script>
{% endblock %}


