{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-11 col-lg-11">
                    <h4 class="card-title">{% if object %}Actualizar {% else %}Crear {% endif %} Adquisición de
                        Materias Primas</h4>
                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                    <div class="card-body">
                        <form class="needs-validation" novalidate id="miFormulario" method="post"
                              enctype="multipart/form-data"
                              action={% url 'materia_adquisicion_add' %}>
                            {% csrf_token %}
                            <div class="card">
                                <div class="card-body" id="lista_adquisicion">
                                    <div class="card">
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="fecha">Fecha de compra<span
                                                        style="color: red;">*</span>:</label>
                                                <input type="date" name="fecha" class="form-control" id="fecha"
                                                       value="{{ fecha }}" oninput="validateDate()">
                                                <div id="dateValidationFeedback" class="invalid-feedback"
                                                     style="display: none;">
                                                    Por favor, seleccione el día de la compra.
                                                </div>
                                                <script>
                                                    document.addEventListener('DOMContentLoaded', function () {
                                                        var fechaInput = document.getElementById('fecha');
                                                        var fechaActual = new Date().toISOString().split('T')[0];
                                                        {#fechaInput.setAttribute('min', fechaActual);#}
                                                        fechaInput.setAttribute('max', fechaActual);
                                                    });
                                                </script>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="factura">Factura
                                                    {#                                                        <span#}
                                                    {#                                                            style="color: red;">*</span>#}
                                                    :</label>
                                                <input class="form-control" type="file" accept=".pdf, .xls, .xlsx"
                                                       id="factura" name="factura" onchange="validateFactura()">
                                                <div id="fileValidationFeedback" class="invalid-feedback"
                                                     style="display: none;">
                                                    Por favor, seleccione un archivo válido (PDF, XLS, XLSX).
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="importada">
                                                    <label class="form-check-label" for="importada">
                                                        Es importada
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>Relación de adquisiciones de materias primas</h4>
                                            <a class="btn btn-success text-white" onclick="appendAdquisicion()">Agregar
                                                nuevo</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card card-default" id="adquisicion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 mb-3" id="divMateria">
                                                    <label for="materia">Materia prima<span
                                                            style="color: red;">*</span>:</label>
                                                    <input class="form-control" list="materiasPrimasList" name="materiaClon"
                                                           id="materia" placeholder="Escriba la materia prima"
                                                           onchange="validateMateria()">
                                                    <datalist id="materiasPrimasList">
                                                        {% for materia in materiaPrimaList %}
                                                            <option value="{{ materia }}">{{ materia }}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                    <div id="validationServer03Feedback" class="invalid-feedback">
                                                        Por favor, seleccione la materia prima.
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="cantidad">Cantidad<span
                                                            style="color: red;">*</span>:</label>
                                                    <input type="number" name="cantidadClon" class="form-control"
                                                           id="cantidad" required min="1" value="0"
                                                           oninput="validateCantidad()">
                                                    <div id="validationServer03Feedback" class="invalid-feedback">
                                                        Por favor, ingrese la cantidad.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-default" id="adquisicion_0" style="display: none">
                                        <input type="hidden" name="no_adquisicion_con_gravamen_0"
                                               id="id_no_adquisicion_con_gravamen_0" value="0"/>
                                        <div class="card-header">
                                            <h3 class="card-title" id="title_adquisicion"></h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-card-widget="remove"
                                                        id="id_remove_button_0" onclick="removeAdquisicion(this.id)"
                                                        style="width:25%">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 mb-3" id="divMateriaClon">
                                                    <label for="materiaClon">Materia prima<span
                                                            style="color: red;">*</span>:</label>
                                                    <input class="form-control" list="materiasPrimasList" name="materiaClon"
                                                           id="materiaClon" onchange="validateMateria()"
                                                           placeholder="Escriba la materia prima">
                                                    <datalist id="materiasPrimasList">
                                                        {% for materia in materiaPrimaList %}
                                                            <option value="{{ materia }}">{{ materia }}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                    <div id="validationServer03Feedback" class="invalid-feedback">
                                                        Por favor, seleccione la materia prima.
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="cantidadClon">Cantidad<span
                                                            style="color: red;">*</span>:</label>
                                                    <input type="number" name="cantidadClon" class="form-control"
                                                           id="cantidadClon" required min="1" value="0"
                                                           oninput="validateCantidad()">
                                                    <div id="validationServer03Feedback" class="invalid-feedback">
                                                        Por favor, ingrese la cantidad.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row" id="footer_add_button" style="display: none">
                                        <div class="col-12">
                                            <h4>Relación de adquisiciones</h4>
                                            <a class="btn btn-success text-white" onclick="appendAdquisicion()">Agregar
                                                nuevo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group" style="text-align: center;">
                                <button type="button" id="submit_button" style="width: 20%;"
                                        class="btn btn-primary confirmar" onclick="submitForm()">Aceptar
                                </button>
                                <a href="{% url 'materia_prima_adquisicion_list' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '[data-card-widget="collapse"]', function () {
            var card = $(this).closest('.card');
            var cardBody = card.find('.card-body');

            // Alterna la visibilidad del cuerpo de la tarjeta
            cardBody.slideToggle();

            // Cambia el ícono del botón
            $(this).find('i').toggleClass('fa-minus fa-plus');
        });
        let ultimo_adquisicion_gravamen = 0;
        let numero_adquisicions_agregados = 0;
        let ID_GRAVAMENES_LIST = [32, 37, 36, 31, 30] //SERVER PRODUCCION

        function removeAdquisicion(id_adquisicion) {
            let pos = String(id_adquisicion).replace('id_remove_button_', '');

            if (ID_GRAVAMENES_LIST.includes(Number($('#id_clase_' + pos).val()))) {
                numero_adquisicions_agregados--;
            }

            $("#adquisicion_" + pos).remove();
            actualizarAdquisicion(pos);
        }

        function actualizarAdquisicion(pos) {
            for (let i = Number(pos) + 1; i <= numero_adquisicions_agregados + 1; i++) {
                $('#adquisicion_' + i).attr('id', 'adquisicion_' + (i - 1));
                $('#id_no_adquisicion_con_gravamen_' + i).attr({
                    name: 'no_adquisicion_con_gravamen_' + (i - 1),
                    id: 'id_no_adquisicion_con_gravamen_' + (i - 1)
                });
                $('#adquisicion_' + (i - 1) + ' #title_adquisicion').text('Nueva adquisición # ' + (i - 1));
                $('#id_remove_button_' + i).attr('id', 'id_remove_button_' + (i - 1));
            }
            numero_adquisicions_agregados--;
            $('#id_cantidad_adquisicion').val(numero_adquisicions_agregados);
        }

        function appendAdquisicion() {
            numero_adquisicions_agregados++;
            $('#id_cantidad_adquisicion').val(numero_adquisicions_agregados);

            $('#adquisicion_0').clone().attr('id', 'adquisicion_' + numero_adquisicions_agregados).css('display', 'block').appendTo('#lista_adquisicion');
            actualizarAdquisicionClon(numero_adquisicions_agregados);

            if (numero_adquisicions_agregados > 1) {
                $('#footer_add_button').css('display', 'block');
            }
        }

        function actualizarAdquisicionClon(pos) {
            const adquisicionClone = $('#adquisicion_' + pos);
            adquisicionClone.find('#id_no_adquisicion_con_gravamen_0').attr({
                name: 'no_adquisicion_con_gravamen_' + pos,
                id: 'id_no_adquisicion_con_gravamen_' + pos
            });
            adquisicionClone.find('#title_adquisicion').text('Nueva adquisición # ' + pos);
            adquisicionClone.find('#id_remove_button_0').attr('id', 'id_remove_button_' + pos);
            adquisicionClone.find('#cantidadClon').attr('id', 'cantidadClon' + pos);
            adquisicionClone.find('#materiaClon').attr('id', 'materiaClon' + pos);
            adquisicionClone.find('#tipoAdquisicionClon').attr('id', 'tipoAdquisicionClon' + pos);
            // Repite para otros campos según sea necesario...
        }

        function validateForm() {
            let isValid = true;
            const errorMessage = [];
            const importada = document.getElementById('importada');
            importada.classList.add('is-valid');
            if (validateFactura() && validateDate()) {
                // Validar cada adquisicion
                for (let i = 0; i <= numero_adquisicions_agregados; i++) {
                    {#console.log(numero_adquisicions_agregados)#}
                    const cantidad = document.getElementById(`cantidadClon${i}`) || document.getElementById('cantidad');
                    const materia = document.getElementById(`materiaClon${i}`) || document.getElementById('materia');
                    // Validar cantidad
                    if (cantidad && (!cantidad.value || cantidad.value <= 0)) {
                        cantidad.classList.add('is-invalid');
                        if (`${i}` == 0) {
                            errorMessage.push(`La cantidad para la primera adquisición es obligatoria y debe ser mayor a 0.`);

                        } else {
                            errorMessage.push(`La cantidad para la adquisición ${i} es obligatoria y debe ser mayor a 0.`);

                        }
                        isValid = false;
                    } else {
                        cantidad.classList.remove('is-invalid');
                        cantidad.classList.add('is-valid')
                    }
                    // Validar materia
                    if (materia && (!materia.value || !Array.from(document.getElementById('materiasPrimasList').options).some(option => option.value === materia.value))) {
                        materia.classList.add('is-invalid');
                        if (`${i}` == 0) {
                            errorMessage.push(`Debe seleccionar una materia prima para la primera adquisición .`);

                        } else {
                            errorMessage.push(`Debe seleccionar una materia prima para la adquisición ${i}.`);
                        }
                        isValid = false;
                    } else {
                        materia.classList.remove('is-invalid');
                        materia.classList.add('is-valid')
                    }
                }
                // Mostrar errores si existen
                if (!isValid) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Advertencia',
                        text: errorMessage.join(" "),
                        confirmButtonText: 'Aceptar'
                    });
                }
            } else {
                isValid = false;
            }
            return isValid;
        }

        function validateMateria() {
            const errorMessage = [];
            let isValid = true;
            for (let i = 0; i <= numero_adquisicions_agregados; i++) {
                const materia = document.getElementById(`materiaClon${i}`) || document.getElementById('materia');
                // Validar materia
                if (materia && (!materia.value || !Array.from(document.getElementById('materiasPrimasList').options).some(option => option.value === materia.value))) {
                    materia.classList.add('is-invalid');
                    if (`${i}` == 0) {
                        errorMessage.push(`Debe seleccionar una materia prima para la primera adquisición .`);

                    } else {
                        errorMessage.push(`Debe seleccionar una materia prima para la adquisición ${i}.`);
                    }
                    isValid = false;
                } else {
                    materia.classList.remove('is-invalid');
                    materia.classList.add('is-valid')
                }
            }
            if (!isValid) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: errorMessage.join(" "),
                    confirmButtonText: 'Aceptar'
                });
            }

        }

        function validateCantidad() {
            const errorMessage = [];
            let isValid = true;

            for (let i = 0; i <= numero_adquisicions_agregados; i++) {
                const cantidad = document.getElementById(`cantidadClon${i}`) || document.getElementById('cantidad');
                // Validar cantidad
                if (cantidad && (!cantidad.value || cantidad.value <= 0)) {
                    cantidad.classList.add('is-invalid');
                    if (`${i}` == 0) {
                        errorMessage.push(`La cantidad para la primera adquisición es obligatoria y debe ser mayor a 0.`);

                    } else {
                        errorMessage.push(`La cantidad para la adquisición ${i} es obligatoria y debe ser mayor a 0.`);

                    }
                    isValid = false;
                } else {
                    cantidad.classList.remove('is-invalid');
                    cantidad.classList.add('is-valid')
                }
            }
            if (!isValid) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: errorMessage.join(" "),
                    confirmButtonText: 'Aceptar'
                });
            }

        }

        function validateFactura() {
            const inputFile = document.getElementById('factura');
            const feedback = document.getElementById('fileValidationFeedback');
            const allowedExtensions = /(\.pdf|\.xls|\.xlsx)$/i;
            let isValid = true;
            // Verifica si se ha seleccionado un archivo
            if (inputFile.files.length > 0) {
                const fileName = inputFile.value;
                // Verifica la extensión del archivo
                if (!allowedExtensions.exec(fileName)) {
                    feedback.style.display = 'block'; // Muestra el mensaje de error
                    inputFile.classList.add('is-invalid'); // Agrega clase de error
                    isValid = false;
                    {#errorMessage.push(` Por favor, seleccione un archivo válido (PDF, XLS, XLSX).`);#}
                } else {
                    feedback.style.display = 'none'; // Oculta el mensaje de error
                    inputFile.classList.remove('is-invalid'); // Remueve clase de error
                    inputFile.classList.add('is-valid'); // Remueve clase de error
                }
            } else {
                feedback.style.display = 'none'; // Oculta el mensaje si no hay archivo
                inputFile.classList.remove('is-invalid'); // Remueve clase de error
                inputFile.classList.add('is-valid');
            }

            if (!isValid) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: "Por favor, seleccione un archivo válido (PDF, XLS, XLSX).",
                    confirmButtonText: 'Aceptar'
                });
            }
            return isValid;
        }

        function validateDate() {
            const fecha = document.getElementById('fecha');
            const feedback = document.getElementById('dateValidationFeedback');
            let isValid = true;
            // Validar el campo de fecha
            if (!fecha.value) {
                fecha.classList.add('is-invalid');
                feedback.style.display = 'block'; // Muestra el mensaje de error
                {#errorMessage.push("La fecha de compra es obligatoria.");#}
                isValid = false;
            } else {
                fecha.classList.remove('is-invalid');
                fecha.classList.add('is-valid');
                feedback.style.display = 'none';
            }
            if (!isValid) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: "La fecha de compra es obligatoria.",
                    confirmButtonText: 'Aceptar'
                });
            }
            return isValid;
        }

        function clearForm() {
            const form = document.getElementById('miFormulario');
            form.reset(); // Resetea todos los campos del formulario

            // Si tienes campos que necesitan un valor específico después de resetear
            // puedes establecerlos aquí, por ejemplo:
            // document.getElementById('campoEjemplo').value = '';
        }

        function submitForm() {
            if (!validateForm()) return; // Validar antes de enviar

            const formData = new FormData(document.getElementById('miFormulario'));
            const actionUrl = document.getElementById('miFormulario').action;

            fetch(actionUrl, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la respuesta del servidor');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: data.message
                        });
                        clearForm(); // Limpiar el formulario
                        // Redirigir si es necesario
                        if (data.redirect_url) {
                            window.location.href = data.redirect_url;
                        }
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message
                        });
                    }
                })
                .catch(error => {
                    console.error('Error al enviar el formulario:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ocurrió un error al enviar los datos. ' + error.message
                    });
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function extraerNumero(tipoAdquisicion) {
            // Divide la cadena y toma la última parte
            return tipoAdquisicion.replace(/[^0-9]/g, ''); // Elimina todo excepto números
        }

        function mostrarElemento() {
            // Ocultar todos los elementos
            document.getElementById('divMateria').style.display = 'none';
            document.getElementById('divMateria').style.display = 'none';
            document.getElementById('divInsumos').style.display = 'none';

            // Obtener el valor seleccionado
            var tipoAdquisicion = document.getElementById('tipoAdquisicion').value;

            // Mostrar el elemento correspondiente
            if (tipoAdquisicion === "1") {
                document.getElementById('divMateria').style.display = 'block';
            } else if (tipoAdquisicion === "2") {
                document.getElementById('divMateria').style.display = 'block';
            } else if (tipoAdquisicion === "3") {
                document.getElementById('divInsumos').style.display = 'block';
            }
        }

        function mostrarElementoClon(id) {
            // Obtener el valor seleccionado
            var tipoAdquisicionClon = document.getElementById(`${id}`).value;
            var numero = extraerNumero(id);
            // Ocultar todos los elementos
            document.getElementById(`divMateriaClon${numero}`).style.display = 'none';
            document.getElementById(`divMateriaClon${numero}`).style.display = 'none';
            document.getElementById(`divInsumosClon${numero}`).style.display = 'none';
            // Mostrar el elemento correspondiente
            if (tipoAdquisicionClon === "1") {
                document.getElementById(`divMateriaClon${numero}`).style.display = 'block';
            } else if (tipoAdquisicionClon === "2") {
                document.getElementById(`divMateriaClon${numero}`).style.display = 'block';
            } else if (tipoAdquisicionClon === "3") {
                document.getElementById(`divInsumosClon${numero}`).style.display = 'block';
            }
        }
    </script>
{% endblock %}