{% extends 'base/base.html' %}
{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">

                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Lista de Adquisiciones de Materia Prima</h4>
                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                </div>

                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr class="ligth">
                            <th hidden="hidden">ID</th>
                            <th>Materia Prima</th>
                            <th>Fecha de Compra</th>
                            <th>Importada</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for adquisicion in adquisiciones %}
                            <tr>
                                <td hidden="hidden">{{ adquisicion.id }}</td>
                                <td>{{ adquisicion.materia_prima }}</td>
                                <td>{{ adquisicion.fecha_compra }}</td>
                                {% if adquisicion.importada %}
                                    <td>Si</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                <td>{{ adquisicion.cantidad }}</td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">
                                        <a href="{% url 'materia_prima_adquisicion_detail' adquisicion.pk %}"
                                           title="Ver detalles">
                                            <i class="fas fa-eye"></i> <!-- Ícono de ojo -->
                                        </a>
                                        <a href="{% url 'materia_prima_adquisicion_update' adquisicion.pk %}"
                                           class="btn far fa-edit" title="Editar adquisición"></a>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">No hay adquisiciones disponibles.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th hidden="hidden">ID</th>
                            <th>Materia Prima</th>
                            <th>Fecha de Compra</th>
                            <th>Importada</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>

                    <a href="{% url 'nueva_materia_prima_adquisicion' %}" class="btn btn-primary">Agregar Nueva
                        Adquisición</a>

                    <!-- Controles de Paginación -->
{#                    <div class="pagination">#}
{#                        <span class="step-links">#}
{#                            {% if adquisiciones.has_previous %}#}
{#                                <a href="?page=1">&laquo; primera</a>#}
{#                                <a href="?page={{ adquisiciones.previous_page_number }}">anterior</a>#}
{#                            {% endif %}#}
{##}
{#                            <span class="current">#}
{#                                Página {{ adquisiciones.number }} de {{ adquisiciones.paginator.num_pages }}.#}
{#                            </span>#}
{##}
{#                            {% if adquisiciones.has_next %}#}
{#                                <a href="?page={{ adquisiciones.next_page_number }}">siguiente</a>#}
{#                                <a href="?page={{ adquisiciones.paginator.num_pages }}">última &raquo;</a>#}
{#                            {% endif %}#}
{#                        </span>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}