{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Detalles del producto</h4>
                    <div class="card">
                        <p><strong>Código del Producto:</strong> {{ object.codigo_producto }}</p>
                        <p><strong>Nombre Comercial:</strong> {{ object.nombre_comercial }}</p>
                        <p><strong>Ficha Técnica Folio:</strong> {{ object.ficha_tecnica_folio }}</p>
                        <p><strong>Ficha de Costo:</strong> {{ object.ficha_costo }}</p>
                        
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group" style="text-align: center;">
                                {% if request.user.groups.all.0.name == 'Almaceneros'%}
                                <a href="{% url 'producto_list' %}" class="btn btn-secondary me-md-2">
                                    <i class="fas fa-times"></i> Volver
                                </a>
                                {% else %}
                                <a href="{% url 'list_producto' %}" class="btn btn-success me-md-2">
                                    <i class="fas fa-times"></i> Volver
                                </a>
                                {% endif %}
                                <!--<a href="{% url 'actualizar_producto' object.pk %}" class="btn btn-primary">Actualizar</a>-->                                
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}