{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de plantas</h4>

                    <!--<form enctype="multipart/form-data" method="GET" style="display: inline-block;">                    
                    {% csrf_token %}
                        <div> 
                            <h6 style="display: inline-block;"> Buscar por </h6> 
                            {{ filter.form }}                
                            <button type="submit" class="btn btn-primary" style="display: inline-block;"> <i class="fas fa-search mr-0"> </i> Filtrar</button>
                        </div>   
                    </form>-->

                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                </div>
                {#                <h1></h1>#}
                <div class="col-sm-12 col-lg-12">
                    <a href="{% url 'planta_crear' %}" class="btn btn-success">Crear nueva planta</a>
                    <table id="datatable" class="table datatable table-striped">
                        <thead>
                        <tr class="ligth">
                            <th>Nombre</th>
                            <th>Propia</th>
                            <th>Almacen asociado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for planta in plantas %}
                            <tr>
                                <td>{{ planta.nombre }}</td>
                                {% if planta.propio %}
                                    <td>Si</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                <td>{{ planta.almacen }}</td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">

                                        <a href="{% url 'planta_editar' planta.pk %}" title="Editar planta"
                                           class="btn far fa-edit"></a>
                                        <a href="{% url 'planta_eliminar' planta.pk %}" title="Eliminar planta"
                                           class="btn far fa-trash-alt" style="color: #ed1010;"></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>

                            <th>Nombre</th>
                            <th>Propia</th>
                            <th>Almacen asociado</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>

                    <a href="{% url 'planta_crear' %}" class="btn btn-success">Crear nueva planta</a>
                    {% if user.is_superuser %}
                    <a href="{% url 'importarPlantas' %}" class="btn btn-success">
                        Importar plantas desde archivo
                    </a>
                    {% endif %}

                </div>

            </div>

        </div>
        <!-- Agrega este código en la sección donde quieras mostrar el modal -->
    </div>

{% endblock %}