{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de Materias Primas</h4>
                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr class="ligth">
                            <th>Código</th>
                            <th>Nombre</th>
                            {#                            <th>Unidad de Medida</th>#}
                            <th>Concentración</th>
                            <th>Conformación</th>
                            <th>Tipo</th>
                            <th>Cantidad en almacén</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for materia_prima in materias_primas %}
                            <tr>
                                <td>{{ materia_prima.codigo }}</td>
                                <td>{{ materia_prima.nombre }}</td>
                                {#                                                                <td>{{ materia_prima.unidad_medida }}</td>#}
                                <td>{{ materia_prima.concentracion }}</td>
                                <td>{{ materia_prima.conformacion }}</td>
                                <td>{{ materia_prima.tipo_materia_prima.nombre }}</td>
                                <td>{{ materia_prima.cantidad_almacen }}</td>
                                <td>{{ materia_prima.costo }}</td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">
                                        <a href="{% url 'materia_prima:materia_prima_actualizar' materia_prima.pk %}"
                                           title="Editar materia prima" class="btn far fa-edit"></a>
                                        {#                                    <a href="{% url 'materia_prima:eliminar' materia_prima.pk %}"#}
                                        {#                                       title="Eliminar almacén"#}
                                        {#                                       class="btn far fa-trash-alt" style="color: #ed1010;"></a>#}
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            {#                            <th>Unidad de Medida</th>#}
                            <th>Concentración</th>
                            <th>Conformación</th>
                            <th>Tipo</th>

                            <th>Cantidad en almacén</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>

                    <a href="{% url 'materia_prima:materia_prima_crear' %}" class="btn btn-success">Crear Materia
                        Prima</a>
                    <a href="{% url 'materia_prima:importarMateriasPrimas' %}" class="btn btn-success">
                        Importar excel
                    </a>
                </div>
            </div>

        </div>

    </div>
{% endblock %}