{% extends "adquisicion/wizard_base.html" %}
{% load static %}

{% block step_content %}


    <div class="mb-3">
        <label class="form-label">Fecha:</label>
        {{ wizard.form.fecha_compra}}
    </div>
    
    <div class="mb-3 form-check form-switch">
        {{ wizard.form.importada }}
        <label class="form-check-label">¿Es importada?</label>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Factura:</label>
        {{ wizard.form.factura }}
        <div class="form-text">Sube el archivo de la factura en formato PDF o imagen</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Almacén:</label>
        {{ wizard.form.almacen }}
        <div class="form-text">Seleccione el almacén que recibirá la compra</div>
    </div>

{% endblock %}