{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">{{adquisicion}}</h4>

                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr class="ligth">
                            <th style="width: 50%">Producto</th>
                            <th style="width: 15%">Cantidad</th>
                            <th style="width: 35%">Almacén</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for det in detalles %}
                            <tr>
                                <td>{{ det.producto }}</td>
                                <td>{{ det.cantidad }}</td>
                                <td>{{ det.adquisicion.almacen }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th style="width: 50%">Producto</th>
                            <th style="width: 15%">Cantidad</th>
                            <th style="width: 35%">Almacén</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Agrega este código en la sección donde quieras mostrar el modal -->
        <div id="producto_modal" class="modal" style="text-align: left" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <div class="modal-header">
                        <h2>Almacén: <strong><span id="modalCodigoProducto"></span></strong></h2>
                    </div>
                    <div style="margin-left: 1rem;">
                        <strong><p>Listado de productos asociados:</p></strong>
                    </div>
                    <ul id="almacenes-list"></ul>
                    <div class="modal-footer">
                        <button type="button" onclick="closeModal()"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const showAlmacenesLinks = document.querySelectorAll('.show_productos');
            const modal = document.getElementById('producto_modal');
            const closeButton = document.getElementsByClassName('close-button')[0];

            showAlmacenesLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const pk = this.dataset.pk;
                    fetch(`/producto/producto/${pk}/`)
                        .then(response => response.json())
                        .then(data => {
                            const almacenesList = document.getElementById('almacenes-list');
                            const modalCodigoProducto = document.getElementById('modalCodigoProducto');
                            modalCodigoProducto.innerHTML = '';
                            almacenesList.innerHTML = '';
                            const codigo_producto = document.createElement('codigo_producto');
                            if (data.length > 0) {
                                data.forEach(almacen => {
                                    const li = document.createElement('li');
                                    li.textContent = almacen.nombre;
                                    codigo.textContent = almacen.nombre_almacen;
                                    almacenesList.appendChild(li);
                                });
                                modalCodigoProducto.appendChild(codigo);
                            } else {
                                almacenesList.innerHTML = 'No hay productos asociados';
                            }
                            modal.style.display = 'block';
                        });
                });
            });
            window.addEventListener('click', function (event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            });
        });

        function closeModal() {
            var modal = document.getElementById("producto_modal");
            modal.style.display = "none";
        }
    </script>
{% endblock %}