<td><span class="badge
                                    {% if produccion.estado == 'Planificada' %}bg-warning
                                    {% elif produccion.estado == 'En proceso: Iniciando mezcla' %}bg-info
                                    {% elif produccion.estado == 'En proceso: Agitado' %}bg-info
                                    {% elif produccion.estado == 'En proceso: Validación' %}bg-warning
                                    {% elif produccion.estado == 'Concluida-Satisfactoria' %}bg-success
                                    {% elif produccion.estado == 'Cancelada' or produccion.estado == 'Concluida-Rechazada' %}bg-danger
                                    {% else %}bg-secondary{% endif %}">
                                    {% if produccion.estado == 'Planificada' or produccion.estado == 'Concluida-Satisfactoria' or produccion.estado == 'Cancelada' or produccion.estado == 'Concluida-Rechazada' %} {{ produccion.estado }}
                                    {% elif produccion.estado == 'En proceso: Iniciando mezcla' %} 10%
                                    {% elif produccion.estado == 'En proceso: Agitado' %} 40%
                                    {% elif produccion.estado == 'En proceso: Validación' %} 80%
                                    {% endif %}
                                </span></td>