<!-- templates/envasado/lista_solicitudes.html -->
{% extends 'base/base.html' %}

{% block contenido %}
<div class="container">
    <h2>Solicitudes de Envasado</h2>
    
    <div class="mb-3">
        <a href="{% url 'envasado:crear_solicitud' %}" class="btn btn-primary">
            Nueva Solicitud
        </a>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha Solicitud</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
            <tr>
                <td>{{ solicitud.folio }}</td>
                <td>{{ solicitud.lote_produccion_origen.producto.nombre_comercial }}</td>
                <td>{{ solicitud.cantidad_solicitada }}</td>
                <td>{{ solicitud.fecha_solicitud|date:"d/m/Y" }}</td>
                <td>
                    <span class="badge {% if solicitud.estado == 'Planificada' %}bg-warning
                                     {% elif solicitud.estado == 'en_proceso' %}bg-info
                                     {% elif solicitud.estado == 'completada' %}bg-success
                                     {% else %}bg-secondary{% endif %}">
                        {{ solicitud.get_estado_display }}
                    </span>
                </td>
                <td>
                    <div class="button-container" style="display: flex; gap: 10px;">
                        <a href="{% url 'envasado:detalle_solicitud_envasado' solicitud.pk %}" class="btn btn-sm" 
                            title="Ver detalles de solicitud de envasado">
                            <i class="fas fa-eye"></i>
                        </a>

                        <!--{% if solicitud.estado == 'Planificada' or solicitud.estado == 'en_proceso' %}
                        <a href="#"
                            class="btn btn-sm"
                            title="Editar detalles del envasado">
                            <i class="fas fa-edit"></i>
                        </a>
                        {% endif %}-->

                        {% if solicitud.estado == 'Planificada' %}
                        <a href="{% url 'envasado:iniciar_envasado' solicitud.id %}"
                            title="Iniciar envasado" class="btn btn-light btn-sm" fill="currentColor">
                            <i class="fas fa-play"></i>                                                
                        </a>
                        {% endif %}

                        {% if solicitud.estado == 'en_proceso' %}
                            <a href="{% url 'envasado:concluir_envasado' solicitud.id %}" 
                                title="Concluir envasado" class="btn btn-outline-success btn-sm">
                                <i class="fas fa-clipboard-check"></i>
                            </a>
                        {% endif %}

                        <!--Cancelar producción--> 
                        {% if solicitud.estado == 'Planificada'%}
                        <a href="{% url 'envasado:cancelar_solicitud' solicitud.id %}" 
                            class="btn btn-danger btn-sm"
                            title="Cancelar envasado">
                            <i class="fas fa-ban"></i>
                        </a>
                        
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}