{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de producciones</h4>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr>
                            <th>Lote</th>
                            <th>Nombre del Producto</th>
                            <th>Cantidad Estimada</th>
                            <th>Costo</th>
                            <th>Planta</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produccion in produccions %}
                            <tr>
                                <td>{{ produccion.lote }}</td>
                                <td>{{ produccion.catalogo_producto.nombre_comercial }}</td>
                                <td>{{ produccion.cantidad_estimada }}</td>
                                <td>{{ produccion.costo }}</td>
                                <td>{{ produccion.planta }}</td>
                                <td><span class="badge
                                    {% if produccion.estado == 'Planificada' %}bg-warning
                                    {% elif produccion.estado == 'Iniciando mezcla' %}bg-primary
                                    {% elif produccion.estado == 'En proceso: Agitado' %}bg-primary
                                    {% elif produccion.estado == 'En proceso: Validación' %}bg-success
                                    {% elif produccion.estado == 'Concluida' %}bg-success
                                    {% elif produccion.estado == 'Cancelada' %}bg-danger
                                    {% else %}bg-secondary{% endif %}">
                                    {{ produccion.estado }}
                                </span></td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">
                                        <!--Iniciar producción--> <!-- bi bi-play-btnacción de cambio de estado directo (En procesourl 'produccion_update' produccion.pk )-->
                                        {% if produccion.estado == 'Planificada' %}
                                            <a href="{% url 'iniciar_produccion' produccion.id %}"
                                                title="Iniciar producción" class="btn fas fa-play" fill="currentColor">
                                                
                                            </a>
                                        {% endif %}
                                        {% if produccion.estado == 'Iniciando mezcla' %}
                                            <a href="{% url 'agita_produccion' produccion.id %}"
                                                title="Iniciar mezclado" class="btn fas fa-fast-forward" fill="currentColor">
                                                
                                            </a>
                                        {% endif %}
                                        <!--Terminada producción--> <!--formulario confirmando fas fa-sign-in-alt la cantidad del productobi bi-check2-square-->
                                        {% if produccion.estado == 'En proceso: Agitado' %}    
                                            <a href="{% url 'concluir_produccion' produccion.id %}" 
                                                title="Iniciar agitado" class="btn fas fa-fast-forward"></a>
                                        {% endif %}
                                        <!--Registrar pruebas químicas--> 
                                        {% if produccion.estado == 'En proceso: Validación' %}    
                                            <a href="{% url 'crear_prueba_quimica' produccion.id %}"
                                                title="Evaluar producción" class="btn fas fa-check2-circle"></a>
                                        {% endif %}
                                        <!--formulario para subir doc de PQ y se cambia 
                                        el estado a disponible para la venta o indicar ajuste de inventario-->
                                        {% if produccion.estado == 'Concluida' %}
                                            {% if produccion.pruebas_quimicas %}    
                                                <a href="{% url 'descargar_pruebas' produccion.id %}"
                                                    class="btn btn-info btn-sm"
                                                    title="Gestionar pruebas químicas">
                                                    <i class="fas fa-vial"></i>
                                                    Ver Pruebas
                                                </a>
                                            {% else %}
                                                <a href="{% url 'subir_pruebas' produccion.id %}"
                                                    class="btn btn-info btn-sm"
                                                    title="Gestionar pruebas químicas">
                                                    <i class="fas fa-vial"></i>
                                                    Subir Pruebas
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                        <!--Cancelar producción--> <!--formulario para indicar la causa ¿Pregunta que
                                         hago con la materia prima o el semiproducto?|split -->
                                        {% if produccion.estado == 'Planificada' or produccion.estado == 'Iniciando mezcla'%}
                                            <a href="{% url 'cancelar_produccion' produccion.id %}" 
                                                class="btn btn-danger btn-sm"
                                                title="Cancelar producción">
                                                <i class="fas fa-ban"></i>
                                            </a>
                                        {% elif produccion.estado == 'Cancelada' %}
                                            <a href="{% url 'detalle_cancelacion' produccion.id %}"
                                                class="btn btn-outline-danger btn-sm"
                                                title="Ver detalles de cancelación">
                                                <i class="fas fa-info-circle"></i> Ver Cancelación
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Lote</th>
                            <th>Nombre del Producto</th>
                            <th>Cantidad Estimada</th>
                            <th>Costo</th>
                            <th>Planta</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>
                    <a href="{% url 'crear_produccion' %}" class="btn btn-success">Crear producción</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}