{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de insumos y otros ...
                    </h4>
                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                </div>
                
                <div class="col-sm-12 col-lg-12">
                    {% if request.user.groups.all.0.name == 'Presidencia-Admin' or user.is_superuser %}
                    <a href="{% url 'importar_insumos' %}" class="btn btn-success"> Importar datos desde archivo </a>
                    {% endif %}
                    <table id="datatable" class="table datatable table-striped">
                        <thead>
                        <tr class="ligth">
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ins in insumos %}
                            <tr>
                                <td>{{ ins.codigo }}</td>
                                <td>{{ ins.nombre }}</td>
                                <td>{{ ins.descripcion}}</td>
                                <td>{{ ins.cantidad_total }}</td>
                                <td>{{ ins.costo }}</td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">
                                        {% if request.user.groups.all.0.name == 'Presidencia-Admin' or user.is_superuser%}
                                        <a href="{% url 'insumos_editar' ins.pk %}"
                                           title="Editar insumo" class="btn far fa-edit"></a>
                                        {% endif %}                                        
                                        <a href="{% url 'get_insumo' ins.pk %}"
                                            title="Ver detalles" class="btn fas fa-eye"></a>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Código</th>
                            <th>Capacidad</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>
                    {% if request.user.groups.all.0.name == 'Presidencia-Admin' or user.is_superuser or request.user.groups.all.0.name == 'Almaceneros'%}
                    <a href="{% url 'nueva_compra' %}" class="btn btn-success">Nueva recepción en almacen</a>
                    {% endif %}
                    {% if request.user.groups.all.0.name == 'Presidencia-Admin' or user.is_superuser %}
                    <a href="{% url 'importar_insumos' %}" class="btn btn-success"> Importar datos desde archivo </a>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}