{% extends 'base/base.html' %}
{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de pomos</h4>
                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr class="ligth">
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Forma</th>
                            <th>Material</th>
                            <th>Color</th>
                            {#                            <th>Tipo de envase o embalaje</th>#}

                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pomo in pomos %}
                            <tr>
                                <td>{{ pomo.codigo }}</td>
                                <td>{{ pomo.nombre }}</td>
                                <td>{{ pomo.forma }}</td>
                                <td>{{ pomo.material }}</td>
                                <td>{{ pomo.color }}</td>
                                {#                                <td>{{ pomo.tipo_envase_embalaje }}</td>#}
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">
                                        <a href="{% url 'pomo:actualizar' pomo.pk %}"
                                           title="Editar pomo" class="btn far fa-edit"></a>
                                        <a href="{% url 'pomo:eliminar' pomo.pk %}"
                                           title="Eliminar pomo"
                                           class="btn far fa-trash-alt" style="color: #ed1010;"></a></div>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Forma</th>
                            <th>Material</th>
                            <th>Color</th>
                            {#                            <th>Tipo de envase o embalaje</th>#}
                            {##}
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>

                    <a href="{% url 'pomo:crear' %}" class="btn btn-success">Crear pomo</a>
                    <a href="{% url 'pomo:importarPomo' %}" class="btn btn-success">
                        Importar excel
                    </a>

                </div>
            </div>

        </div>

    </div>
{% endblock %}