{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de formato de envases</h4>
                    
                    <form enctype="multipart/form-data" method="GET" style="display: inline-block;">                    
                    {% csrf_token %}
                        <div> 
                            <h6 style="display: inline-block;"> Buscar por: </h6> 
                            {{ filter.form }}                
                            <button type="submit" class="btn btn-primary" style="display: inline-block;"> <i class="fas fa-search mr-0"> </i> Filtrar</button>
                        </div>   
                    </form>

                    {% if messages %}
                        <script>
                            {% for message in messages %}
                                Swal.fire({
                                    icon: '{{ message.tags }}',  // 'success', 'error', 'warning', etc.
                                    title: '{{ message }}',
                                    showConfirmButton: true
                                });
                            {% endfor %}
                        </script>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr class="ligth">
                            <th style="width: 50%;">Formato</th>
                            <th style="width: 50%;">Unidad de medida</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for capacidad in capacidades %}
                            <tr>
                                <td>{% if capacidad.capacidad == 0 %} A granel {% else %} {{ capacidad.capacidad }} {% endif %}</td> 
                                <td>{{ capacidad.unidad_medida }}</td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">
                                        <a href="{% url 'formato:actualizar' capacidad.pk %}"
                                           title="Editar formato" class="btn far fa-edit"></a>
                                        <a href="{% url 'formato:eliminar' capacidad.pk %}"
                                           title="Eliminar formato"
                                           class="btn far fa-trash-alt" style="color: #ed1010;"></a></div>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Formato</th>
                            <th>Unidad de medida</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>

                    <a href="{% url 'formato:crear' %}" class="btn btn-success">Crear formato de envase</a>
                    <a href="{% url 'formato:importarFormato' %}" class="btn btn-success">
                        Importar excel
                    </a>
                </div>
            </div>

        </div>

    </div>
    <script>
    </script>
{% endblock %}
