{% extends 'base/base.html' %}

{% block contenido %}
    <div class="wrapper">
        <div class="content-page">
            <div class="container-fluid">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="card-title">Listado de formato de envases</h4>

                </div>
                <div class="col-sm-12 col-lg-12">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                        <tr class="ligth">
                            <th style="width: 50%;">Formato</th>
                            <th style="width: 50%;">Unidad de medida</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for capacidad in capacidades %}
                            <tr>
                                <td >{{ capacidad.capacidad }}</td>
                                <td >{{ capacidad.unidad_medida }}</td>
                                <td>
                                    <div class="button-container" style="display: flex; gap: 10px;">
                                        <a href="{% url 'formato:actualizar' capacidad.pk %}"
                                           title="Editar formato" class="btn far fa-edit"></a>
                                        <a href="{% url 'formato:eliminar' capacidad.pk %}"
                                           title="Eliminar formato"
                                           class="btn far fa-trash-alt" style="color: #ed1010;"></a></div>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th >Formato</th>
                            <th >Unidad de medida</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>

                    <a href="{% url 'formato:crear' %}" class="btn btn-success">Crear formato de envase</a>
                </div>
            </div>

        </div>

    </div>
    <script>
    $(document).ready(function() {
  $('#datatable').DataTable({
    language: {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
        "sFirst": "Primero",
        "sLast": "Último",
        "sNext": "Siguiente",
        "sPrevious": "Anterior"
      },
      "oAria": {
        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });
});
    </script>
{% endblock %}