{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
<div class="wrapper">
    <div class="content-page">
        <div class="container-fluid">
            <div class="container mt-4">
                <div class="card-title">
                    <h3>Entrada de productos desde: </h3>
                    <h5>{{vale.almacen}}</h5>
                </div>
                
                <br>
                <form method="post">
                    {% csrf_token %}                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prod in productos %}
                            <tr>
                                <td>{{ prod.producto.nombre_comercial }}</td>
                                <td>
                                    <input type="number" 
                                           name="{{ prod.producto.codigo_producto }}" 
                                           value="0"
                                           step="0.10"
                                           min="0"
                                           class="form-control">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Confirmar recepción
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}