{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
<div class="wrapper">
    <div class="content-page">
        <div class="container-fluid">
            <div class="container mt-4">
                <form method="post">
                    {% csrf_token %}                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Envase</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for env in productos %}
                            <tr>
                                <td>{{ env.envase_embalaje.codigo_envase }}</td>
                                <td>
                                    <input type="number" 
                                           name="{{ env.envase_embalaje.codigo_envase }}" 
                                           value="0"
                                           step="0.10"
                                           min="0"
                                           class="form-control">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Confirmar recepción
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}