{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
<div class="wrapper">
    <div class="content-page">
        <div class="container-fluid">
            <div class="container mt-4">
                <form method="post" id="confirmForm">
                    {% csrf_token %}                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Envase</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for env in productos %}
                            <tr>
                                <td>{{ env.envase_embalaje }}</td>
                                <td>
                                    <input type="number" 
                                           name="{{ env.envase_embalaje.codigo_envase }}" 
                                           value="0"
                                           step="1"
                                           min="0"
                                           class="form-control">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <div class="text-end mt-4">
                        <button type="button" class="btn btn-primary btn-lg" onclick="confirmarSalida()">
                            Confirmar recepción
                        </button>
                        <button type="button" class="btn btn-success" onclick="confirmarCancelar()">
                            <i class="bi bi-check-circle"></i> Cancelar
                        </button>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
// Funcionalidades adicionales para el detalle

function confirmarSalida() {
    if (confirm('¿Está seguro de confirmar esta recepción?')) {
        document.getElementById('confirmForm').submit();
    }
}
function confirmarCancelar(valeId) {
    if (confirm('¿Está seguro de cancelar el proceso de recepción por ahora?')) {
        document.getElementById('confirmForm').submit();
    }
}
</script>
{% endblock %}