<div class="container-fluid bg-dark text-white text-center border-top py-4 px-sm-3 px-md-5"
     style="border-color: #3E3E4E !important;">
{#    <div class="row">#}
{#        <div class="col-lg-6 col-md-6 col-sm-12 ">#}
            <p class="m-0 text-white text-center font-weight-bold">&copy; <a href="#" target="_blank">Copyright&nbsp;© Sigem <script>document.write(new Date().getFullYear())</script></a></p>
            {# <div class="container"><p class="text-center text-white m-0 small">Copyright&nbsp;© SITRANS 2024</p></div> #}
{#        </div>#}
{##}
    </div>
