{% load static %}

<div class="iq-top-navbar">
    <div class="iq-navbar-custom">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                <i class="ri-menu-line wrapper-menu"></i>
                <a href="{% url 'principal' %}" class="header-logo">
                    <h4 class="logo-title text-uppercase">GIPPro</h4>

                </a>
            </div>
            <div class="navbar-breadcrumb">
                <h5>Bienvenido {{ request.user.first_name }} {{ request.user.last_name }} </h5>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                        <li class="nav-item nav-icon nav-item-icon dropdown">
                            <a href="#" class="search-toggle dropdown-toggle"
                               id="dropdownMenuButton"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-bell">
                                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                </svg>
{#                                {% if request.notificaciones.count > 0 %}#}
{#                                    <span class="bg-primary ">{{ request.notificaciones.count }}</span>#}
{#                                {% endif %}#}
                            </a>
                            <div class="iq-sub-dropdown dropdown-menu"
                                 aria-labelledby="dropdownMenuButton">
                                <div class="card shadow-none m-0">
                                    <div class="card-body p-0 ">
                                        <div class="cust-title p-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h5 class="mb-0">Notificaciones</h5>
                                                <a class="badge badge-primary badge-card"
                                                   href="#">
{#                                                    {{ request.notificaciones.count }}#}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="px-3 pt-0 pb-0 sub-card">
{#                                            {% for notificacion in request.notificaciones %}#}
{#                                                <a href="{% url 'listExpEnvdMinintNotificacion' notificacion.expediente.id %}"#}
                                                        {# {% url 'listExpEnvdMinint' notificacion.expediente.id %} #}
{#                                                   class="iq-sub-card">#}
{#                                                    <div class="media align-items-center cust-card py-3 border-bottom">#}
                                                        {#                                                        <div class="">#}
                                                        {#                                                            <img class="avatar-50 rounded-small"#}
                                                        {#                                                                 src="{% static 'images/user/01.jpg' %}" alt="01">#}
                                                        {#                                                        </div>#}
{#                                                        <div class="media-body ml-4">#}
{#                                                            <div class="d-flex align-items-center justify-content-between">#}
{#                                                                <h6 class="mb-0">{{ notificacion.tipo }}</h6>#}
{#                                                                <small class="text-dark"><b>{{ notificacion.fecha_creacion|date:"H:i A" }}</b></small>#}
{#                                                            </div>#}
{#                                                            <small class="mb-0">Expediente: {{ notificacion.expediente.codigo }}</small>#}
{#                                                            <br>#}
{#                                                            <small class="mb-0">Fecha#}
{#                                                                límite: {{ notificacion.fecha_limite }}</small>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </a>#}
{#                                            {% empty %}#}
{#                                                <p class="px-3 py-2">No hay notificaciones pendientes.</p>#}
{#                                            {% endfor %}#}
                                        </div>
                                        {#                                        <a class="right-ic btn btn-primary btn-block position-relative p-2"#}
                                        {#                                           href="{% url 'notifications' %}" role="button">#}
                                        {#                                            Ver todos#}
                                        {#                                        </a>#}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-icon dropdown caption-content">
                            <a href="#" class="search-toggle dropdown-toggle  d-flex align-items-center"
                               id="dropdownMenuButton4"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if request.user.foto %}
                                    <img src="{{ request.user.foto.url }}" class="img-fluid rounded-circle"
                                         alt="user">
                                {% else %}
                                    <img src="{% static 'gestion/images/user/i1.jpg' %}"
                                         class="img-fluid rounded-circle"
                                         alt="user">
                                {% endif %}

                                <div class="caption ml-3">
                                    <h6 class="mb-0 line-height">{{ request.user }}<i
                                            class="las la-angle-down ml-2"></i></h6>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right border-none"
                                aria-labelledby="dropdownMenuButton">
{#                                <li class="dropdown-item  d-flex svg-icon">#}
{#                                    <svg class="svg-icon mr-0 text-primary" id="h-05-p" width="20"#}
{#                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"#}
{#                                         stroke="currentColor">#}
{#                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
{#                                              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>#}
{#                                    </svg>#}
{#                                    <a href="{% url 'logoutUser' %}">Modificar contraseña</a>#}
{#                                </li>#}
                                <li class="dropdown-item  d-flex svg-icon">
                                    <svg class="svg-icon mr-0 text-primary" id="h-05-p" width="20"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
                                    </svg>
                                    <a href="{% url 'logoutUser' %}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>