<!-- Topbar Start -->
<div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <a  class="fa fa-phone-alt mr-2 text-white" href="tel:78818513"> </a>
                <small class="px-3">|</small>
                <a class="fa fa-envelope mr-2 text-white" href="mailto:atencionciudadana@nc.mitrans.gob.cu"></a>
            </div>
        </div>

    </div>
</div>
<!-- Topbar End -->